# Proprietary data that I shouldn't share publically
/DAC_Driver_GUI/__pycache__/*
/DAC_Driver_GUI/build/*
/DAC_Driver_GUI/dist/*
/DAC_Driver_GUI/tcl_tk_location.txt
/Serial Import/*

# Temp Files
*~