# Unnecessary
/Device_Driver_Main/__pycache__/*
/Device_Driver_Main/Arduino_Controller/.vscode/*
/Device_Driver_Main/build/*
/Device_Driver_Main/dist/*
/Device_Driver_Main/tcl_tk_location.txt
/Serial Import/*
*.vscode
*.json
*.pyc
*.pyo

__pycache__/
.vscode/

# Linduino libraries
/PMIC_Control/LT_*
/PMIC_Control/Linduino.h
/PMIC_Control/UserInterface

# Temp Files
*~